@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root{
    --background: #313743;
    --background_two: #363636;
    --footer_font: #ffffff;
    --hover_footer_font_color: #fd883f;
    --button_bg_color: #dae7f7;
    --header_font_color: #3c516a;
    --font_color: #2C66AF;
    --tag_color: #33CCCC;
}


html {
    scroll-behavior: smooth;
}
html, body{
    overflow-x: hidden;
}

body{
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}

ul{
    list-style: none;
    padding-left: 0;
}




/* Top Bar */

.top_bar{
    padding: 10px 0;
    background-color: #313743;
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 20px;
}
.top_bar ul{
    list-style: none;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
.top_bar ul li{
    display: inline-block;
    color: var(--footer_font);
}
.social_icon li{
    margin-right: 10px;
    margin-left: 10px;
    transition: all .5s;
}
.top_bar .phone_icon{
    color: var(--hover_footer_font_color);
}
.top_bar .email_icon{
    color: var(--hover_footer_font_color);
}
.social_icon li:hover .facebook_icon{
    color: #2C66AF;
    transition: all .5s; 
}
.social_icon li:hover .twitter_icon{
    color: #1DA1F2;
    transition: all .5s;
}
.social_icon li:hover .linked_icon{
    color: #0077B5;
    transition: all .5s;
}
.social_icon li:hover .pinterest_icon{
    color: #B7081B;
    transition: all .5s;
}
.social_icon li:hover .youtube_icon{
    color: #FE0000;
    transition: all .5s;
}

.social_icon li a{
    color: var(--footer_font);
}
.social_icon li:last-child{
    margin-right: 0;
}
@media only screen and (min-width: 280px) and (max-width: 540px){
    .email{
        display: none !important;
    }
    .top_bar{
        display: none !important;
    }
}
@media only screen and (min-width: 330px) and (max-width: 384px){
    .top_bar ul li{
        font-size: 13px;
    }
    .social_icon li{
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media only screen and (min-width: 410px) and (max-width: 428px){
    .top_bar ul li{
        font-size: 16px;
    }
    .social_icon li{
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media only screen and (min-width: 280px) and (max-width: 320px){
    .top_bar ul li{
        font-size: 11px;
    }
    .social_icon li{
        margin-right: 8px;
    }
}

/* Top Bar */

/* Navbar */

.new_navbar{
    position: fixed;
    width: 100%;
    top: 44px;
    background-color: var(--button_bg_color);
    z-index: 999;
    border-bottom: 2px solid var(--font_color);
    padding: 5px 0;
}
/* First Part */
.new_navbar img{
    height: 100%;
    width: 130px;
}
/* First Part */

/* Second Part */
.navbarItems{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.new_navbar .navitem{
    list-style: none;
    margin-bottom: 0;
}
.new_navbar .navitem li{
    display: inline-block;
    margin-right: 15px;
    transition: all .5s;
    padding: 10px 15px;
    border-radius: 5px;
}
.new_navbar .navitem li:hover{
    background-color: var(--hover_footer_font_color);
    transition: all .5s;
}
.navitem li:hover a{
    color: #ffffff !important;
}
.new_navbar .navitem li:last-child{
    margin-right: 0;
}
.new_navbar .navitem li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--header_font_color);
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    .new_navbar{
        top: 0px;
    }
}

/* Third Part */
.offer_property{
    background-color: var(--hover_footer_font_color);
    padding: 10px 20px;
    margin-top: 8px;
}



/* Third Part */
.third_side .padding-0{
    padding-left: 5px;
    padding-right: 5px;
}

.offer_property{
    text-decoration: none;
    color: var(--footer_font);
}
.offer_property:hover{
    color: var(--footer_font);
}

.profile_account_image{
    cursor: pointer;
}
.profile_account_image img{
    height: auto;
    width: 70%;
}
.swich_system{
    background-color: #ffffff;
    height: auto;
    position: absolute;
    top: 100px;
    width: 350px;
    right: 0;
    border-radius: 10px;
    display: none !important;
    padding: 10px 20px;
    box-shadow: 2px 2px 30px #6e6e6e;
}
.swich_system ul{
    list-style: none;
    margin-bottom: 0;
}
.swich_system .fa-caret-up{
    position: absolute;
    top: -16px;
    right: 45px;
    font-size: 30px;
    color: var(--footer_font);
}
.swich_system ul li{
    padding: 20px 10px;
    transition: all .5s;
    border-radius: 10px;
}
.swich_system ul li:hover{
    background: var(--hover_footer_font_color);
    transition: all .5s;
}
.swich_system ul li:hover a{
    color: var(--footer_font);
}
.swich_system ul li a{
    font-size: 18px;
    color: var(--font_color);
}
.swich_system .btn{
    background-color: var(--background);
    color: var(--footer_font);
    width: 100%;
}
.swich_on{
    display: block !important;
}


/* Responsive */
.responsive_navbar{
    background-color: var(--footer_font);
    padding: 50px;
    padding-top: 80px;
    height: auto;
    position: fixed;
    top: 100px;
    left: -100%;
    box-shadow: 2px 2px 15px #6d6d6d;
    border-right: 3px solid var(--font_color);
    z-index: 888;
}
.responsive_navbar ul{
    list-style: none;
    padding-left: 0;
}
.responsive_navbar ul li{
    padding: 20px 0;
    padding-left: 20px;
    border-bottom: 1px solid #313743;
    transition: all .5s;
}
.responsive_navbar ul li:hover{
    background-color: var(--hover_footer_font_color);
    border-radius: 5px;
    transition: all .5s;
}
.responsive_navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: var(--header_font_color);
}
.responsive_navbar .btn{
    background-color: var(--hover_footer_font_color);
    color: var(--footer_font);
}
.responsive_navbar i{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: var(--font_color);
    cursor: pointer;
}

/* hamber */
.hambarger i{
    cursor: pointer;
    color: var(--font_color);
}

@media only screen and (min-width: 280px) and (max-width: 540px){
    .responsive_navbar{
        top: 75px;
    }
    .language{
        display: none;
    }
    .navbarItems{
        display: none;
    }
    .offer_property{
        display: none;
    }
    .hambarger{
        font-size: 40px;
        /* right: 30px !important; */
        position: absolute;
    }
    .regis_col{
        width: 67%
    }
    .logo_col{
        width: 64%;
    }
    .hambar_col{
        width: 35%;
    }
    .third_col{
        width: 35%;
        padding-top: 3px;
    }
    .hide_first{
        display: none;
    }
    .login_register_pc{
        display: none;   
    }
    #profile_part{
        width: 55%;
        padding-right: 0;
        padding-left: 0;
    }
}

@media only screen and (min-width: 667px) and (max-width: 834px) {
    .profile_account_image img {
        height: auto;
        width: 80%;
    }
}

@media only screen and (min-width: 667px) and (max-width: 1024px){
    .responsive_navbar{
        top: 120px;
    }
    .language{
        display: none;
    }
    .navbarItems{
        display: none;
    }
    .offer_property{
        display: none;
    }
    .hambarger{
        font-size: 40px;
        top: 10px !important;
        position: absolute;
    }
    .regis_col{
        width: 67%
    }
    .logo_col{
        width: 78%;
    }
    .hambar_col{
        width: 40%;
    }
    .third_col{
        width: 20%;
    }
    .hide_first{
        display: none;
    }
    .responsive_login_register{
        display: none;
    }
    #profile_part{
        width: 57%;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1444px){
    .profile_account_image img {
        height: auto;
        width: 100%;
    }
}

@media only screen and (min-width: 1025px){
    .hambarger{
        display: none;
    }
    .responsive_navbar{
        display: none;
    }
    .offer_property{
        margin-top: 10px;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1280px){
    .offer_button{
        margin-top: 4px;
        padding-top: 16px;
    }
    .offer_button p{
        font-size: 14px;
    }
    .profile_account_image img{
        width: 100%;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1550px){
    .offer_button{
        margin-top: 4px;
        padding-top: 17px;
    }
    .offer_button p{
        font-size: 14px;
    }
    .profile_account_image img{
        width: 90%;
    }
}
/* Responsive */

/* Navbar */




/* Navbar */
#add_property_navbar{
    padding: 20px 30px;
}
#add_property_navbar .logo img{
    width: 100%;
    height: 70px;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #add_property_navbar{
        padding: 20px 10px;
    }
}
/* Navbar */

/* Over View */

/* OverView First */

#overview_first{
    padding: 0px 30px;
    padding-top: 170px;
}
#overview_first h1{
    font-size: 50px;
}
#overview_first p{
    font-size: 18px;
}
#overview_first img{
    width: 50%;
}
#overview_three_section{
    margin-top: 80px;
}
.overview_getstarted_btn{
    margin-top: 80px;
    margin-bottom: 50px;
}
.overview_getstarted_btn .btn{
    margin-right: 30px;
    background-color: #fd883f;
    color: #ffffff;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #overview_first{
        padding: 0px 10px;
        padding-bottom: 50px;
        padding-top: 100px;
    }
    #overview_three_section{
        margin-top: 10px;
    }
    #overview_first h1{
        font-size: 30px;
    }
    #over_view_feature{
        margin-top: 20px;
    }
    #overview_first img{
        width: 80%;
    }
    .overview_getstarted_btn{
        margin-top: 30px;
        margin-bottom: 50px;
    }
}
@media only screen and (min-width: 667px) and (max-width: 834px) {
    #overview_first{
        padding: 50px 10px;
    }
    #over_view_feature{
        margin-top: 30px;
    }  
}

/* OverView First */

/* Over View */


/* Host Page */

#host_page{
    padding: 0px 30px;
    padding-top: 170px;
}
#host_page img{
    height: auto;
    width: 90%;
}
#host_page h5{
    font-size: 30px;
}
#host_page h1{
    font-size: 60px;
}
#host_page p{
    font-size: 18px;
}
.host_page_btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: #f0f0f0;
    border-top: 3px dashed #2C66AF;
}
.back_btn{
    background-color: #333333;
    color: #ffffff;
}
.next_btn{
    background-color: #2C66AF;
    color: #ffffff;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #host_page{
        padding-top: 100px;
        padding-bottom: 130px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #host_page h1{
        font-size: 30px;
    }
    #host_page img{
        width: 100%;
    }
}
/* Host Page */

/* Describe Place Page */
#place_describe{
    padding-top: 170px;
    padding-bottom: 130px;
}
#place_describe .btn{
    width: 100%;
    border: 2px solid #fd883f;
    border-radius: 10px;
    margin-top: 20px;
}
.place_type_div img{
    width: 50px;
    height: 50px;
}
.active_div{
    border: 2px solid #2C66AF;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #place_describe {
        padding-top: 100px;
    }
}
/* Describe Place Page */

/* Guest Box */
#guest_have_page{
    padding-top: 170px;
    padding-bottom: 130px;
}
#guest_have_page .btn{
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}
.guest_box{
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
}
.guest_box img{
    width: 60px;
    height: 60px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #guest_have_page{
        padding-top: 100px;
    }
}
/* Guest Box */

/* location */
#add_property_location{
    padding-top: 170px;
    padding-bottom: 130px;
}
#add_property_location input{
    border-radius: 35px;
    padding: 15px;
}
.gmap_canvas iframe{
    border-radius: 20px;
    width: 100%;
}
.gm-style .place-card-large{
    display: none !important;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #add_property_location{
        padding-top: 100px;
    }
}
/* location */

/* Floor Plan Page */
#floor_plan_page{
    padding-top: 170px;
    padding-bottom: 130px;
}
#room_plan{
    margin-top: 80px;
}
#room_plan .btn{
    font-size: 20px;
    border: 1px solid #000;
    width: 45px;
    border-radius: 45%;
    margin: 0 5px;
}
#room_plan span{
    font-size: 25px;
}
#room_plan .floor_line{
    border: .5px solid #838383;
    margin-top: 25px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #floor_plan_page{
        padding-top: 100px;
    }
    #room_plan{
        margin-top: 30px;
    }
}
@media only screen and (min-width: 667px) and (max-width: 834px) {
    #room_plan{
        margin-top: 30px;
    } 
}
/* Floor Plan Page */

/* Stand Out */

#stand_up{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 170px;
}
#stand_up img{
    height: auto;
    width: 90%;
}
#stand_up h5{
    font-size: 30px;
}
#stand_up h1{
    font-size: 60px;
}
#stand_up p{
    font-size: 18px;
}
.host_page_btn{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 30px;
    background-color: #f0f0f0;
    border-top: 3px dashed #2C66AF;
}
.back_btn{
    background-color: #333333;
    color: #ffffff;
}
.next_btn{
    background-color: #2C66AF;
    color: #ffffff;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #stand_up{
        padding-top: 100px;
        padding-bottom: 130px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #stand_up h1{
        font-size: 30px;
    }
    #stand_up img{
        width: 100%;
    }
}

/* Stand Out */


/* Amenities */
#ameninites{
    padding-top: 170px;
    padding-bottom: 130px;
}
#ameninites .btn{
    width: 100%;
    border: 2px solid #2C66AF;
    border-radius: 10px;
    margin-top: 20px;
}
.place_type_div img{
    width: 50px;
    height: 50px;
}
.active_div{
    border: 2px solid #2C66AF;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #ameninites {
        padding-top: 100px;
    }
}
/* Amenities */

/* Photo */
#photo{
    padding-top: 170px;
    padding-bottom: 130px;
}
.upload_section{
    border: 2px dashed #fd883f;
    padding: 30px 0;
    border-radius: 10px;
    margin-top: 30px;
}
.upload_section i{
    font-size: 50px;
    padding: 10px 0;
}
.upload_section label{
    color: #fd883f;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: underline;
}
.upload_section p{
    font-size: 20px;
    margin-bottom: 0;
}
.upload_section input{
    display: none;
}
#size_message{
    font-size: 15px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #photo {
        padding-top: 100px;
    }
}
/* Photo */

/* Title */
#title{
    padding-top: 170px;
    padding-bottom: 130px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #title {
        padding-top: 100px;
    }
}
/* Title */

/* Description */
#description{
    padding-top: 170px;
    padding-bottom: 130px;
}
#description .btn{
    width: 100%;
    border: 2px solid #2C66AF;
    border-radius: 50px;
    margin-top: 20px;
    padding-left: 30px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #description {
        padding-top: 100px;
    }
}
/* Description */

/* property Description */
#property_description{
    padding-top: 170px;
    padding-bottom: 130px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #property_description {
        padding-top: 100px;
    }
}
/* property Description */

/* finish step */
#finish_step{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 170px;
    padding-bottom: 130px;
}
#finish_step img{
    height: auto;
    width: 90%;
}
#finish_step h5{
    font-size: 30px;
}
#finish_step h1{
    font-size: 60px;
}
#finish_step p{
    font-size: 18px;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #finish_step {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
    #finish_step h1{
        font-size: 30px;
    }
    #finish_step img{
        width: 100%;
    }
}
/* finish step */

/* Visibility */
#visibility{
    padding-top: 170px;
    padding-bottom: 130px;
}
#visibility .form-check{
    margin-top: 40px;
    border: 1px dashed #a8a8a8;
    border-radius: 10px;
    padding: 30px 0;
    cursor: pointer;
}
#visibility input{
    margin: 10px 30px;
    padding: 10px;
}
#visibility .form-check:hover{
    border: 1px dashed #000000;
    transition: .5 ease-in-out;
}
@media only screen and (min-width: 280px) and (max-width: 428px) {
    #visibility{
        padding-top: 100px;
    }
    #visibility input {
        padding: 8px;
    }
}
/* Visibility */

/* Set Price */
#setPrice{
    padding-top: 170px;
    padding-bottom: 130px; 
}
#price_count{
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 20px;
}
#price_count .btn{
    background-color: #2C66AF;
    color: #ffffff;
}
#price_count input{
    height: 80px;
    font-size: 40px;
    font-weight: 600;
    border-radius: 10px;
}
#get_booked{
    margin-top: 20px;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 20px; 
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #setPrice{
        padding-top: 100px;
    }
    #price_count .btn{
        margin: 30px;
    }
}
/* Set Price */

/* Last Steps */
#one_last_step{
    padding-top: 170px;
    padding-bottom: 130px; 
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #one_last_step{
        padding-top: 100px;
    }
}
/* Last Steps */

/* Publish */
#publish{
    padding-top: 170px;
    padding-bottom: 130px; 
}
#publish i{
    font-size: 25px;
    color: #2C66AF;
}
.publish_btn{
    background-color: #fd883f;
    color: #ffffff;
}
#publish .card{
    padding: 15px;
    border-radius: 10px;
}
#publish .show_preview{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 20px;
}
#preview_show {
    cursor: pointer;
}
#publish .card-img{
    border-radius: 10px;
    position: relative;
}
#popup{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    overflow: scroll;
}
#popup_box{
    background-color: #ffffff;
    height: auto;
    margin-top: 150px;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 50px;
}
@media only screen and (min-width: 280px) and (max-width: 428px){
    #publish{
        padding-top: 100px;
    }
    #publish i{
        margin-top: 10px;
    }
}
/* Publish */

